body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.chart-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.chart-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}